<body>
  <nav>
    <a href="/users/dashboard">Home</a>
    <a href="/users/user/friends">Friends</a>
    <a href="/users/user/friends/add">Add friend</a>
    <a href="/join-chat">Chat rooms</a>
    <a href="/users/images">Photos</a>
    <a href="/users/images/add">Add photo</a>
    <a href="/users/user/family">Family tree</a>
  </nav>

