<%- include('../partials/head-start-partial') %>
<title>Binary Tree Structure</title>
<link href="/css/family-tree.css"rel="stylesheet"/>
<%- include('../partials/head-end-partial') %> 
<%- include('../partials/body-start-partial') %>
<div class="container">
    <div class="row">
        <div class="tree">
            <ul>
                <li> <a href="/users/user/family/child"><img src="images/1.jpg"><span>Child</span></a>
                <ul>
                    <li><a href="/users/user/family/mother"><img src="images/2.jpg"><span>Mother</span></a>
                   
                </li>
                <li> <a href="/users/user/family/father"><img src="images/5.jpg"><span>Father</span></a>
            </li>
        </ul>
    </li>
</ul>
</div>
</div>
</div>
<%- include('../partials/body-end-partial') %>