<%- include('../partials/head-start-partial') %>
<%- include('../partials/head-end-partial') %> 
<%- include('../partials/body-start-partial') %>
<h1>Hello </h1>
<a href="users/sign-in">Sign in</a>
<%- include('../partials/body-end-partial') %>
